@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    --accent-colour: #ffcbc4;

    --background-colour: #e2e8f0;
    --background-highlight: #ffffff;

    --nav-icon-colour: #000000;
    

    --main-font: #ffffff;
    --nav-font: black;




}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

svg {
    height: 2rem;
    width: 2rem;
}

a {
    text-decoration: none;
}

aside {
    grid-column: 1;
    background-color: var(--accent-colour);

    & a {
        color: var(--nav-font);
    }

    & img {
        height: 7rem;
        width: 7rem;
        margin-top: 1.6rem;
    }

    & h1 {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: 2.5rem;
        position: sticky;
        top: 0;
    }

    & nav {
        position: sticky;
        top: 10rem;
    }
}

div.nav-two {
    margin-top: 4rem;
}

nav {
    display: grid;
    padding-left: 3rem;

    & a {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        font-weight: bold;
        color: var(--nav-font);
    }

    & span {
        padding-left: 1rem;
        font-size: 2rem;
    }

    & svg {
        fill: var(--nav-icon-colour);
    }
}



main {
    grid-column: 2;
    display: grid;
    grid-template-rows: 10rem 1fr 5rem;
    background-color: var(--background-colour);
}

header {
    background-color: var(--background-highlight);
}

header > div {
   display: flex;
   align-items: center;
   margin: 1rem 1rem 0 1rem;
}

div > form {
    flex: 1;
    display: flex;
    padding: 0 2rem 0 2rem;
}

input[type="search"] {
    background: var(--background-colour);
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 2rem;
    flex: 1;
}

div.profile {
    display: flex;

    & img {
        height: 4rem;
        width: 4rem;
    }

}

div.welcome {
    flex: 1;
    display: flex;

    & img {
        height: 4rem;
        width: 4rem;
    }
}

section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
}

.project {
    background-color: var(--background-highlight);
    width: 200px;
}

footer {
    background-color: var(--background-highlight);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
     
    & p {
        margin-right: 1rem;
    }
}