@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {

    --accent-colour: #76a198;
    --background-colour: #e2e8f0;
    --background-highlight: #ffffff;
    --project-highlight: #d9aaa9;

    --nav-icon-colour: #ffffff;
    
    --action-font: #ffffff;
    --nav-font: #ffffff;

    --hover: #00000081;
}

/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 17rem 1fr;
}

svg {
    height: 2rem;
    width: 2rem;
}

a {
    text-decoration: none;
}

/* Navigation */

aside {
    grid-column: 1;
    background-color: var(--accent-colour);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 10;

    & a {
        color: var(--nav-font);
    }

    & img {
        height: 7rem;
        width: 7rem;
        margin-top: 1.6rem;
    }

    & h1 {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: 2.7rem;
        font-family: 'Handlee', sans-serif;
        position: sticky;
        top: 0;
    }

    & nav {
        position: sticky;
        top: 10rem;
    }
}

div.nav-two {
    margin-top: 4rem;
}

nav {
    display: grid;
    padding-left: 2rem;

    & a {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        font-weight: 600;
        color: var(--nav-font);
    }

    & span {
        padding-left: 1rem;
        font-size: 1.4rem;
    }

    & a:hover {
        color: var(--hover);
    }

    & svg {
        fill: var(--nav-icon-colour);
    }
}

/* Content */

main {
    grid-column: 2;
    display: grid;
    grid-template-rows: 11rem 1fr 4.5rem;
    background-color: var(--background-colour);
}

/* Header */

header {
    background-color: var(--background-highlight);
}

header > div {
   display: flex;
   align-items: center;
   margin: 1rem 1rem 0 1rem;
}

div > form {
    flex: 1;
    display: flex;
    padding: 0 2rem 0 2rem;
    gap: 1.2rem;
}

form > label:hover {
    fill: var(--hover);
    cursor: pointer;
}

input[type="search"] {
    background: var(--background-colour);
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    height: 2rem;
    flex: 1;
    padding-left: 1rem;
}

input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }

  input:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
  }

div.profile {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & svg:hover {
        fill: var(--hover);
        cursor: pointer;
    }

    & img {
        height: 3.5rem;
    }

}

div.welcome {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-width: 24rem;
    margin-left: 2rem;

    & img {
        height: 5rem;
    }

    & p {
        font-size: 1rem;
    }
}

div.user-actions {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.75rem;
        width: 7.5rem;
        border-radius: 2rem;
        background-color: var(--accent-colour);
        color: var(--action-font);
        font-weight: 700;
    }

    & a:hover {
        background-color: var(--hover);
    }
}

/* Projects */

section {
    display: grid;
    grid-template-columns: 1fr 20rem;
    padding: 2.5rem 2rem;
    /* box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 20px 0px, rgba(0, 0, 0, .3) 0px 20px 60px -24px; */
    box-shadow: rgb(180, 193, 204) 0 4px 6px 1px inset, rgba(180, 193, 204, 0.63) 0 -4px 6px 1px inset;
    z-index: 11;

    & h2 {
        font-size: 1.8rem;
    }
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.project {
    background-color: var(--background-highlight);
    border-radius: 1rem;
    padding: 2rem;
    border-left: var(--project-highlight) 0.6rem solid;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;


    & h3 {
        font-size: 1.4rem;
    }

    & div.project-icons {
        justify-self: end;
        padding-top: 2rem;
    }

    & svg {
        margin-left: 1.2rem;
    }

    & svg:hover {
        fill: var(--hover);
    }
}

/* Announcements and Trending */

.news {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.announcement-list {
    background-color: var(--background-highlight);
    padding: 1rem;
    border-radius: 1rem;
}

.announcement {
    padding: 1rem;
}

.announcement:nth-of-type(2) {
    border-top: 2px solid var(--background-colour);
    border-bottom: 2px solid var(--background-colour);
}

.trending-list {
    background-color: var(--background-highlight);
    padding: 0 1rem;
    border-radius: 1rem;
}

.trend {
    display: grid;
    grid-auto-flow: column;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    & img {
        height: 4rem;
    }

    & p {
        font-size: 0.75rem;
    }
}

.trend:first-child {
    margin-top: 1rem;
}

.trend:last-child {
    margin-bottom: 1rem;
}

/* Footer */

footer {
    background-color: var(--background-highlight);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    
     
    & p {
        margin-right: 1rem;
    }

    & svg {
        fill: var(--accent-colour);
        transition: transform 0.4s ease-in-out;
    }

    & svg:hover {
        transform: rotate(360deg) scale(1.2);
    }
}